html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
}


@media(max-width:600px) {
    html {
        font-size: 15px;
    }
}

canvas#myCanvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: unset;
    border: none !important;
    outline: none !important;
    display: block;
    background-color: rgb(222, 222, 222);
    touch-action: none;
}